body {
    background-image: url("https://img.freepik.com/free-photo/metal-background-3d-rendering_118019-269.jpg?size=626&ext=jpg");
    background-color: #cccccc;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color:white;
}

a {
    color: #00B7FF;
}

.row{
    padding-top:20px;
}

.card img{
    max-height:170px;
}

.signup {
    color: white;
}
