body {
    /*background-image: url("https://www.driving.co.uk/s3/st-driving-prod/uploads/2019/02/2019-Geneva-Motor-Show-Preview-01.jpg");*/
    background-color: #cccccc;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
